<% @tasks.each do |task| %>
    <div class="row">
        <div class="col-md-3" <%= item_name(task) %>>
          <%= task.text %>
        </div>
      <% if !task.done? %>
        <div class="col-md-4", id="button_<%=task.id%>">
          <%= button_to 'Check', complete_task_path(task), method: :put, remote: true %>
        </div>
      <% end %>
    </div>
<% end %>